@tailwind base;
@tailwind components;
@tailwind utilities;

@property --row {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

:root {
  --color: white;
  --index: 0;
  --columns: 3;
}

html, body, #app {
  height: 100%;
}

body {
  background-color: #aaa;
}

.magic-cube {
  position: relative;
}

.face {
  width: 2rem;
  height: 2rem;
  background-color: var(--color);
  position: absolute;
  --row: calc((var(--index) - 1) / var(--columns) - .5);
  top: calc(var(--row) * 2rem);
  left: calc((var(--index) - 1 - var(--row) * var(--columns))  * 2rem);
}
